<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984331887812-agv16go5kf924gmdauesl8mltbqhh4vf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984331887812-agv16go5kf924gmdauesl8mltbqhh4vf</string>
	<key>API_KEY</key>
	<string>AIzaSyDj0X-O-avcuWlrckphJR1n2FBNK4OSb7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>984331887812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.home.iOSCrashlyticsTest</string>
	<key>PROJECT_ID</key>
	<string>ioscrashlyticstest</string>
	<key>STORAGE_BUCKET</key>
	<string>ioscrashlyticstest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984331887812:ios:463c8d49a2f85f5b609591</string>
	<key>DATABASE_URL</key>
	<string>https://ioscrashlyticstest.firebaseio.com</string>
</dict>
</plist>